$theme-color-primary: #745fe9;
$theme-color-primary-dark: #3d2c9d;
$theme-color-primary-darker: #261f5b;
$theme-color-primary-light: #b69fff;
$theme-color-primary-lighter: #f5f2ff;
$theme-color-primary-vivid: #745fe9;
