$theme-show-compile-warnings: false;
$theme-show-notifications: false;

// Make fonts and images work in the site and preview iframe
$theme-font-path: "/fonts";
$theme-image-path: "/img";

// Theme editor site settings
$theme-font-type-sans: "public-sans";
$utilities-use-important: true;

// We need this so that we can identify the default colors for error, success, etc
$background-color-palettes: ("palette-color-state");

@import "uswds";
@import "codemirror/lib/codemirror.css";
@import "codemirror/theme/vibrant-ink.css";
