$theme-show-compile-warnings: false;
$theme-show-notifications: false;

// Make fonts and images work in the site and preview iframe
$theme-font-path: "/fonts";
$theme-image-path: "/img";

// Expand coverage of utilities. These variables should
// match (or be a subset of) what's used in the Sass used in the Preview
$utilities-use-important: true;
$background-color-palettes: ("palette-color-state");

// Theme editor site settings
$theme-font-type-sans: "public-sans";

@import "uswds";
@import "codemirror/lib/codemirror.css";
@import "codemirror/theme/vibrant-ink.css";
