<a class="usa-skipnav" href="#main-content"> Skip to main content </a>

<div class="usa-overlay"></div>
<header class="usa-header usa-header--extended">
  <div class="usa-navbar">
    <div class="usa-logo" id="extended-mega-logo">
      <em class="usa-logo__text">
        <a href="javascript:void(0)" title="Project title"> Project title </a>
      </em>
    </div>
    <button class="usa-menu-btn">Menu</button>
  </div>
  <nav aria-label="Primary navigation" class="usa-nav">
    <div class="usa-nav__inner">
      <button class="usa-nav__close">
        <img src="/img/usa-icons/close.svg" role="img" alt="Close" />
      </button>
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <button
            class="usa-accordion__button usa-nav__link usa-current"
            aria-expanded="false"
            aria-controls="extended-mega-nav-section-one"
          >
            <span>&lt;Current section&gt;</span>
          </button>

          <div
            id="extended-mega-nav-section-one"
            class="usa-nav__submenu usa-megamenu"
          >
            <div class="grid-row grid-gap-4">
              <div class="usa-col">
                <ul class="usa-nav__submenu-list">
                  <li class="usa-nav__submenu-item">
                    <a href="#"> &lt;Navigation link&gt; </a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#"> &lt;Navigation link&gt; </a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#"> &lt;Navigation link&gt; </a>
                  </li>
                </ul>
              </div>
              <div class="usa-col">
                <ul class="usa-nav__submenu-list">
                  <li class="usa-nav__submenu-item">
                    <a href="#"> &lt;Navigation link&gt; </a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">
                      &lt;A very long navigation link that goes onto two
                      lines&gt;
                    </a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#"> &lt;Navigation link&gt; </a>
                  </li>
                </ul>
              </div>
              <div class="usa-col">
                <ul class="usa-nav__submenu-list">
                  <li class="usa-nav__submenu-item">
                    <a href="#"> &lt;Navigation link&gt; </a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#"> &lt;Navigation link&gt; </a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#"> &lt;Navigation link&gt; </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="usa-nav__primary-item">
          <button
            class="usa-accordion__button usa-nav__link"
            aria-expanded="false"
            aria-controls="extended-mega-nav-section-two"
          >
            <span>&lt;Section&gt;</span>
          </button>

          <div
            id="extended-mega-nav-section-two"
            class="usa-nav__submenu usa-megamenu"
          >
            <div class="grid-row grid-gap-4">
              <div class="usa-col">
                <ul class="usa-nav__submenu-list">
                  <li class="usa-nav__submenu-item">
                    <a href="#"> &lt;Navigation link&gt; </a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#"> &lt;Navigation link&gt; </a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#"> &lt;Navigation link&gt; </a>
                  </li>
                </ul>
              </div>
              <div class="usa-col">
                <ul class="usa-nav__submenu-list">
                  <li class="usa-nav__submenu-item">
                    <a href="#"> &lt;Navigation link&gt; </a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">
                      &lt;A very long navigation link that goes onto two
                      lines&gt;
                    </a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#"> &lt;Navigation link&gt; </a>
                  </li>
                </ul>
              </div>
              <div class="usa-col">
                <ul class="usa-nav__submenu-list">
                  <li class="usa-nav__submenu-item">
                    <a href="#"> &lt;Navigation link&gt; </a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#"> &lt;Navigation link&gt; </a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#"> &lt;Navigation link&gt; </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="usa-nav__primary-item">
          <a href="javascript:void(0)" class="usa-nav__link">
            <span>&lt;Simple link&gt;</span>
          </a>
        </li>
      </ul>
      <div class="usa-nav__secondary">
        <ul class="usa-nav__secondary-links">
          <li class="usa-nav__secondary-item">
            <a href="">&lt;Secondary link&gt;</a>
          </li>
          <li class="usa-nav__secondary-item">
            <a href="">&lt;Another secondary link&gt;</a>
          </li>
        </ul>

        <form class="usa-search usa-search--small" role="search">
          <label class="usa-sr-only" for="extended-mega-search-field-en-small">
            Search
          </label>
          <input
            class="usa-input"
            id="extended-mega-search-field-en-small"
            type="search"
            name="search"
          />
          <button class="usa-button" type="submit">
            <span class="usa-sr-only">Search</span>
          </button>
        </form>
      </div>
    </div>
  </nav>
</header>

<main id="main-content">
  <section class="grid-container margin-top-6">
    <h1 class="font-heading-xl">Theme preview</h1>

    <div class="usa-step-indicator" aria-label="progress">
      <ol class="usa-step-indicator__segments">
        <li
          class="
            usa-step-indicator__segment usa-step-indicator__segment--complete
          "
        >
          <span class="usa-step-indicator__segment-label"
            >Personal information
            <span class="usa-sr-only">completed</span></span
          >
        </li>
        <li
          class="
            usa-step-indicator__segment usa-step-indicator__segment--complete
          "
        >
          <span class="usa-step-indicator__segment-label"
            >Household status <span class="usa-sr-only">completed</span></span
          >
        </li>
        <li
          class="
            usa-step-indicator__segment usa-step-indicator__segment--current
          "
          aria-current="true"
        >
          <span class="usa-step-indicator__segment-label"
            >Supporting documents
          </span>
        </li>
        <li class="usa-step-indicator__segment">
          <span class="usa-step-indicator__segment-label"
            >Signature <span class="usa-sr-only">not completed</span></span
          >
        </li>
        <li class="usa-step-indicator__segment">
          <span class="usa-step-indicator__segment-label"
            >Review and submit
            <span class="usa-sr-only">not completed</span></span
          >
        </li>
      </ol>
      <div class="usa-step-indicator__header">
        <h2 class="usa-step-indicator__heading">
          <span class="usa-step-indicator__heading-counter">
            <span class="usa-sr-only">Step</span>
            <span class="usa-step-indicator__current-step">3</span>
            <span class="usa-step-indicator__total-steps">of 5</span>
          </span>
          <span class="usa-step-indicator__heading-text"
            >Supporting documents</span
          >
        </h2>
      </div>
    </div>

    <form class="usa-form usa-form usa-form--large">
      <label class="usa-label" for="full_name">Name</label>
      <input class="usa-input" id="full_name" name="full_name" type="text" />

      <fieldset class="usa-fieldset usa-form-group">
        <legend class="usa-legend">Document type</legend>
        <div class="usa-radio">
          <input
            class="usa-radio__input usa-radio__input--tile"
            id="doc-type-1"
            type="radio"
            name="doc-type"
            value="Driver's License"
            checked
          />
          <label class="usa-radio__label" for="doc-type-1">
            Driver's License
          </label>
        </div>
        <div class="usa-radio">
          <input
            class="usa-radio__input usa-radio__input--tile"
            id="doc-type-3"
            type="radio"
            name="doc-type"
            value="State ID"
          />
          <label class="usa-radio__label" for="doc-type-3"> State ID </label>
        </div>
        <div class="usa-radio">
          <input
            class="usa-radio__input usa-radio__input--tile"
            id="doc-type-2"
            type="radio"
            name="doc-type"
            value="Passport"
          />
          <label class="usa-radio__label" for="doc-type-2"
            >Passport
            <span class="usa-checkbox__label-description">
              This is optional text that can be used to describe the label
              in&nbsp;more&nbsp;detail.
            </span>
          </label>
        </div>
        <div class="usa-radio">
          <input
            class="usa-radio__input usa-radio__input--tile"
            id="doc-type-4"
            type="radio"
            name="doc-type"
            value="USWDS Certification"
            disabled
          />
          <label class="usa-radio__label" for="doc-type-4">
            USWDS Certification
          </label>
        </div>
      </fieldset>

      <div class="usa-form-group">
        <label class="usa-label" id="date-label" for="date"
          >Expiration date</label
        >
        <div class="usa-hint" id="date-hint">mm/dd/yyyy</div>
        <div class="usa-date-picker">
          <input
            class="usa-input"
            id="date"
            name="date"
            type="text"
            aria-describedby="date-label date-hint"
          />
        </div>
      </div>

      <div class="usa-form-group">
        <label class="usa-label" for="file-input-single"
          >Select your documents</label
        >
        <input
          id="file-input-single"
          class="usa-file-input"
          type="file"
          name="file-input-single"
          multiple
        />
      </div>

      <div class="usa-form-group usa-form-group--error">
        <label class="usa-label usa-label--error" for="input-error"
          >Department</label
        >
        <span class="usa-error-message" id="input-error-message"
          >Helpful error message goes here.</span
        >
        <input
          class="usa-input usa-input--error"
          id="input-error"
          name="input-error"
          type="text"
          aria-describedby="input-error-message"
        />
      </div>

      <ul class="usa-button-group">
        <li class="usa-button-group__item">
          <button type="button" class="usa-button usa-button--outline">
            Back
          </button>
        </li>
        <li class="usa-button-group__item">
          <input class="usa-button" type="submit" value="Continue" />
        </li>
      </ul>
    </form>

    <h2 class="font-heading-xl margin-top-6">Alerts</h2>

    <div class="usa-alert usa-alert--success">
      <div class="usa-alert__body">
        <h3 class="usa-alert__heading">Success status</h3>
        <p class="usa-alert__text">
          Lorem ipsum dolor sit amet,
          <a href="#">consectetur adipiscing</a> elit, sed do eiusmod.
        </p>
      </div>
    </div>

    <div class="usa-alert usa-alert--warning">
      <div class="usa-alert__body">
        <h3 class="usa-alert__heading">Warning status</h3>
        <p class="usa-alert__text">
          Lorem ipsum dolor sit amet,
          <a href="#">consectetur adipiscing</a> elit, sed do eiusmod.
        </p>
      </div>
    </div>

    <div class="usa-alert usa-alert--error" role="alert">
      <div class="usa-alert__body">
        <h3 class="usa-alert__heading">Error status</h3>
        <p class="usa-alert__text">
          Lorem ipsum dolor sit amet,
          <a href="#">consectetur adipiscing</a> elit, sed do eiusmod.
        </p>
      </div>
    </div>

    <div class="usa-alert usa-alert--info">
      <div class="usa-alert__body">
        <h3 class="usa-alert__heading">Informative status</h3>
        <p class="usa-alert__text">
          Lorem ipsum dolor sit amet,
          <a href="#">consectetur adipiscing</a> elit, sed do eiusmod.
        </p>
      </div>
    </div>

    <h2 class="font-heading-xl margin-top-6">Process list</h2>
    <p class="usa-intro">
      This is an intro paragraph. Lorem ipsum dolor sit amet, consectetuer
      adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna
      rhoncus neque.
    </p>

    <div
      class="usa-summary-box margin-bottom-2"
      role="region"
      aria-labelledby="summary-box-key-information"
    >
      <div class="usa-summary-box__body">
        <h3 class="usa-summary-box__heading" id="summary-box-key-information">
          Key information
        </h3>
        <div class="usa-summary-box__text">
          <ul class="usa-list">
            <li>
              If you are under a winter storm warning,
              <a class="usa-summary-box__link" href="javascript:void(0);"
                >find shelter</a
              >
              right away.
            </li>
            <li>
              Sign up for
              <a class="usa-summary-box__link" href="javascript:void(0);"
                >your community’s warning system</a
              >.
            </li>
            <li>
              Learn the signs of, and basic treatments for,
              <a class="usa-summary-box__link" href="javascript:void(0);"
                >frostbite</a
              >
              and
              <a class="usa-summary-box__link" href="javascript:void(0);"
                >hypothermia</a
              >.
            </li>
            <li>
              Gather emergency supplies for your
              <a class="usa-summary-box__link" href="javascript:void(0);"
                >home</a
              >
              and your
              <a class="usa-summary-box__link" href="javascript:void(0);">car</a
              >.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <ol class="usa-process-list">
      <li class="usa-process-list__item">
        <h4 class="usa-process-list__heading">Start a process</h4>
        <p class="margin-top-05">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi
          commodo, ipsum sed pharetra gravida, orci magna rhoncus neque.
        </p>
        <ul>
          <li>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi
            commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id
            pulvinar odio lorem non turpis.
          </li>
          <li>
            Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat
            condimentum.
          </li>
          <li>Aliquam erat volutpat. Sed quis velit.</li>
        </ul>
      </li>
      <li class="usa-process-list__item">
        <h4 class="usa-process-list__heading">Proceed to the second step</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi
          commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id
          pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id
          velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed
          quis velit. Nulla facilisi. Nulla libero. Vivamus pharetra posuere
          sapien.
        </p>
      </li>
      <li class="usa-process-list__item">
        <h4 class="usa-process-list__heading">
          Complete the step-by-step process
        </h4>
        <p>
          Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat
          condimentum. Aliquam erat volutpat. Sed quis velit. Nulla facilisi.
          Nulla libero. Vivamus pharetra posuere sapien.
        </p>
      </li>
    </ol>

    <div class="usa-table-container--scrollable">
      <table class="usa-table">
        <caption>
          Recently admitted US states (sortable table example)
        </caption>
        <thead>
          <tr>
            <th data-sortable scope="col" role="columnheader">Name</th>
            <th
              data-sortable
              scope="col"
              role="columnheader"
              aria-sort="descending"
            >
              Order admitted to union
            </th>
            <th data-sortable scope="col" role="columnheader">
              Date of ratification vote
            </th>
            <th data-sortable scope="col" role="columnheader">
              Date admitted to union
            </th>
            <th data-sortable scope="col" role="columnheader">
              Percent of voters in favor of ratification
            </th>
            <th data-sortable scope="col" role="columnheader">
              Votes cast in favor of ratification
            </th>
            <th data-sortable scope="col" role="columnheader">
              Estimated population at time of admission
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" role="rowheader">Hawaii</th>
            <td data-sort-value="50">50th</td>
            <td data-sort-value="331844400">Jun. 27, 1959</td>
            <td data-sort-value="327092400">Aug. 21, 1959</td>
            <td
              data-sort-value="0.943"
              class="font-mono-sm text-tabular text-right"
            >
              94.3%
            </td>
            <td
              data-sort-value="132773"
              class="font-mono-sm text-tabular text-right"
            >
              132,773
            </td>
            <td
              data-sort-value="632772"
              class="font-mono-sm text-tabular text-right"
            >
              632,772
            </td>
          </tr>
          <tr>
            <th scope="row" role="rowheader">Alaska</th>
            <td data-sort-value="49">49th</td>
            <td data-sort-value="431978400">Apr. 24, 1956</td>
            <td data-sort-value="346960800">Jan. 3, 1959</td>
            <td
              data-sort-value="0.681"
              class="font-mono-sm text-tabular text-right"
            >
              68.1%
            </td>
            <td
              data-sort-value="17477"
              class="font-mono-sm text-tabular text-right"
            >
              17,477
            </td>
            <td
              data-sort-value="226167"
              class="font-mono-sm text-tabular text-right"
            >
              226,167
            </td>
          </tr>
          <tr>
            <th scope="row" role="rowheader">Arizona</th>
            <td data-sort-value="48">48th</td>
            <td data-sort-value="1858528800">Feb. 9, 1911</td>
            <td data-sort-value="1826560800">Feb. 14, 1912</td>
            <td
              data-sort-value="0.787"
              class="font-mono-sm text-tabular text-right"
            >
              78.7%
            </td>
            <td
              data-sort-value="12187"
              class="font-mono-sm text-tabular text-right"
            >
              12,187
            </td>
            <td
              data-sort-value="204354"
              class="font-mono-sm text-tabular text-right"
            >
              204,354
            </td>
          </tr>
          <tr>
            <th scope="row" role="rowheader">New Mexico</th>
            <td data-sort-value="47">47th</td>
            <td data-sort-value="1835287200">Nov. 5, 1911</td>
            <td data-sort-value="1829930400">Jan. 6, 1912</td>
            <td
              data-sort-value="0.703"
              class="font-mono-sm text-tabular text-right"
            >
              70.3%
            </td>
            <td
              data-sort-value="31742"
              class="font-mono-sm text-tabular text-right"
            >
              31,742
            </td>
            <td
              data-sort-value="327301"
              class="font-mono-sm text-tabular text-right"
            >
              327,301
            </td>
          </tr>
          <tr>
            <th scope="row" role="rowheader">Oklahoma</th>
            <td data-sort-value="46">46th</td>
            <td data-sort-value="1965751200">Sep. 17, 1907</td>
            <td data-sort-value="1960567200">Nov. 16, 1907</td>
            <td
              data-sort-value="0.712"
              class="font-mono-sm text-tabular text-right"
            >
              71.2%
            </td>
            <td
              data-sort-value="180333"
              class="font-mono-sm text-tabular text-right"
            >
              180,333
            </td>
            <td
              data-sort-value="1657155"
              class="font-mono-sm text-tabular text-right"
            >
              1,657,155
            </td>
          </tr>
          <tr>
            <th scope="row" role="rowheader">Utah</th>
            <td data-sort-value="45">45th</td>
            <td data-sort-value="2340122400">Nov. 5, 1895</td>
            <td data-sort-value="2334938400">Jan. 4, 1896</td>
            <td
              data-sort-value="0.805"
              class="font-mono-sm text-tabular text-right"
            >
              80.5%
            </td>
            <td
              data-sort-value="31305"
              class="font-mono-sm text-tabular text-right"
            >
              31,305
            </td>
            <td
              data-sort-value="210779"
              class="font-mono-sm text-tabular text-right"
            >
              210,779
            </td>
          </tr>
        </tbody>
      </table>
      <div
        class="usa-sr-only usa-table__announcement-region"
        aria-live="polite"
      >
        <!-- this content will change when sort changes -->
      </div>
      <p class="margin-bottom-3">Data for illustration purposes only.</p>
    </div>
  </section>
</main>

<footer class="usa-footer usa-footer--slim">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer__primary-section">
    <div class="usa-footer__primary-container grid-row">
      <div class="mobile-lg:grid-col-8">
        <nav class="usa-footer__nav" aria-label="Footer navigation,">
          <ul class="grid-row grid-gap">
            <li
              class="
                mobile-lg:grid-col-6
                desktop:grid-col-auto
                usa-footer__primary-content
              "
            >
              <a class="usa-footer__primary-link" href="javascript:void(0);">
                &lt;Primary link&gt;
              </a>
            </li>

            <li
              class="
                mobile-lg:grid-col-6
                desktop:grid-col-auto
                usa-footer__primary-content
              "
            >
              <a class="usa-footer__primary-link" href="javascript:void(0);">
                &lt;Primary link&gt;
              </a>
            </li>

            <li
              class="
                mobile-lg:grid-col-6
                desktop:grid-col-auto
                usa-footer__primary-content
              "
            >
              <a class="usa-footer__primary-link" href="javascript:void(0);">
                &lt;Primary link&gt;
              </a>
            </li>

            <li
              class="
                mobile-lg:grid-col-6
                desktop:grid-col-auto
                usa-footer__primary-content
              "
            >
              <a class="usa-footer__primary-link" href="javascript:void(0);">
                &lt;Primary link&gt;
              </a>
            </li>

            <li
              class="
                mobile-lg:grid-col-6
                desktop:grid-col-auto
                usa-footer__primary-content
              "
            >
              <a class="usa-footer__primary-link" href="javascript:void(0);">
                &lt;Primary link&gt;
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="mobile-lg:grid-col-4">
        <address class="usa-footer__address">
          <div class="grid-row grid-gap">
            <div
              class="grid-col-auto mobile-lg:grid-col-12 desktop:grid-col-auto"
            >
              <div class="usa-footer__contact-info">
                <a href="tel:1-800-555-5555"> &lt;(800) 555-GOVT&gt; </a>
              </div>
            </div>
            <div
              class="grid-col-auto mobile-lg:grid-col-12 desktop:grid-col-auto"
            >
              <div class="usa-footer__contact-info">
                <a href="mailto:&lt;info@agency.gov&gt;">
                  &lt;info@agency.gov&gt;
                </a>
              </div>
            </div>
          </div>
        </address>
      </div>
    </div>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="usa-footer__logo grid-row grid-gap-2">
        <div class="grid-col-auto">
          <img
            class="usa-footer__logo-img"
            src="/assets/img/logo-img.png"
            alt=""
          />
        </div>
        <div class="grid-col-auto">
          <p class="usa-footer__logo-heading">&lt;Agency Contact Center&gt;</p>
        </div>
      </div>
    </div>
  </div>
</footer>
