<a class="usa-skipnav" href="#main-content"> Skip to main content </a>

<div class="usa-overlay"></div>
<header class="usa-header usa-header--extended">
  <div class="usa-navbar">
    <div class="usa-logo" id="extended-logo">
      <em class="usa-logo__text">
        <a href="/" title="Home" aria-label="Home"> Site title </a>
      </em>
    </div>
    <button class="usa-menu-btn">Menu</button>
  </div>
  <nav aria-label="Primary navigation" class="usa-nav">
    <div class="usa-nav__inner">
      <button class="usa-nav__close">
        <img src="/img/usa-icons/close.svg" role="img" alt="close" />
      </button>
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <button
            class="usa-accordion__button usa-nav__link usa-current"
            aria-expanded="false"
            aria-controls="extended-nav-section-one"
          >
            <span>Current section</span>
          </button>
          <ul id="extended-nav-section-one" class="usa-nav__submenu">
            <li class="usa-nav__submenu-item">
              <a href="#" class=""> Navigation link </a>
            </li>
            <li class="usa-nav__submenu-item">
              <a href="#" class=""> Navigation link </a>
            </li>
            <li class="usa-nav__submenu-item">
              <a href="#" class=""> Navigation link </a>
            </li>
          </ul>
        </li>
        <li class="usa-nav__primary-item">
          <button
            class="usa-accordion__button usa-nav__link"
            aria-expanded="false"
            aria-controls="extended-nav-section-two"
          >
            <span>Section</span>
          </button>
          <ul id="extended-nav-section-two" class="usa-nav__submenu">
            <li class="usa-nav__submenu-item">
              <a href="#" class=""> Navigation link </a>
            </li>
            <li class="usa-nav__submenu-item">
              <a href="#" class=""> Navigation link </a>
            </li>
            <li class="usa-nav__submenu-item">
              <a href="#" class=""> Navigation link </a>
            </li>
          </ul>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="#">
            <span>Simple link</span>
          </a>
        </li>
      </ul>
      <div class="usa-nav__secondary">
        <ul class="usa-nav__secondary-links">
          <li class="usa-nav__secondary-item">
            <a href="">Secondary link</a>
          </li>
          <li class="usa-nav__secondary-item">
            <a href="">Another secondary link</a>
          </li>
        </ul>
        <form class="usa-search usa-search--small" role="search">
          <label class="usa-sr-only" for="extended-search-field-small">
            Search small
          </label>
          <input
            class="usa-input"
            id="extended-search-field-small"
            type="search"
            name="search"
          />
          <button class="usa-button" type="submit">
            <span class="usa-sr-only">Search</span>
          </button>
        </form>
      </div>
    </div>
  </nav>
</header>

<main id="main-content">
  <section class="usa-hero bg-base-lightest" aria-label="Introduction">
    <div class="grid-container">
      <div class="usa-hero__callout">
        <h1 class="usa-hero__heading">
          <span class="usa-hero__heading--alt">Hero callout:</span>
          Bring attention to a project priority
        </h1>
        <p>
          Support the callout with some short explanatory text. You don’t need
          more than a couple of sentences.
        </p>
        <a class="usa-button" href="#"> Call to action </a>
      </div>
    </div>
  </section>
  <section class="grid-container usa-section bg-accent-cool-lighter">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-4">
        <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">
          A tagline highlights your approach
        </h2>
      </div>
      <div class="tablet:grid-col-8 usa-prose">
        <p>
          The tagline should inspire confidence and interest, focusing on the
          value that your overall approach offers to your audience. Use a
          heading typeface and keep your tagline to just a few words, and don’t
          confuse or mystify.
        </p>
        <p>
          Use the right side of the grid to explain the tagline a bit more. What
          are your goals? How do you do your work? Write in the present tense,
          and stay brief here. People who are interested can find details on
          internal pages.
        </p>
      </div>
    </div>
  </section>

  <section class="grid-container usa-section">
    <h2 class="font-heading-lg">Forms</h2>
    <form class="usa-form usa-form">
      <label class="usa-label" for="email"> Email address </label>
      <input class="usa-input" id="email" name="email" type="email" required />

      <fieldset class="usa-fieldset usa-form-group">
        <legend class="usa-legend">Select one historical figure</legend>
        <div class="usa-radio">
          <input
            class="usa-radio__input usa-radio__input--tile"
            id="historical-truth-2"
            type="radio"
            name="historical-figures-2"
            value="sojourner-truth"
          />
          <label class="usa-radio__label" for="historical-truth-2">
            Sojourner Truth
          </label>
        </div>
        <div class="usa-radio">
          <input
            class="usa-radio__input usa-radio__input--tile"
            id="historical-douglass-2"
            type="radio"
            name="historical-figures-2"
            value="frederick-douglass"
          />
          <label class="usa-radio__label" for="historical-douglass-2">
            Frederick Douglass
            <span class="usa-checkbox__label-description">
              This is optional text that can be used to describe the label in
              more detail.
            </span>
          </label>
        </div>
        <div class="usa-radio">
          <input
            class="usa-radio__input usa-radio__input--tile"
            id="historical-washington-2"
            type="radio"
            name="historical-figures-2"
            value="booker-t-washington"
          />
          <label class="usa-radio__label" for="historical-washington-2">
            Booker T. Washington
          </label>
        </div>
        <div class="usa-radio">
          <input
            class="usa-radio__input usa-radio__input--tile"
            id="historical-marshall-2"
            type="radio"
            name="historical-figures"
            value="thurgood-marshall"
            disabled
          />
          <label class="usa-radio__label" for="historical-marshall-2">
            Thurgood Marshall
          </label>
        </div>
      </fieldset>
      <ul class="usa-button-group">
        <li class="usa-button-group__item">
          <button type="button" class="usa-button usa-button--outline">
            Back
          </button>
        </li>
        <li class="usa-button-group__item">
          <input class="usa-button" type="submit" value="Continue" />
        </li>
      </ul>
    </form>
  </section>

  <section id="test-section-id" class="usa-section">
    <div class="grid-container">
      <article class="usa-prose">
        <h2 id="section-heading-h2">Section heading (h2)</h2>

        <p>
          These headings introduce, respectively, sections and subsections
          within your body copy. As you create these headings, follow the same
          guidelines that you use when writing section headings: Be succinct,
          descriptive, and precise.
        </p>

        <h3 id="section-heading-h3">Subsection heading (h3)</h3>

        <p>
          The particulars of your body copy will be determined by the topic of
          your page. Regardless of topic, it’s a good practice to follow the
          inverted pyramid structure when writing copy: Begin with the
          information that’s most important to your users and then present
          information of less importance.
        </p>

        <p>
          Keep each section and subsection focused — a good approach is to
          include one theme (topic) per section.
        </p>

        <h4 id="section-heading-h4">Subsection heading (h4)</h4>

        <p>
          Use the side navigation menu to help your users quickly skip to
          different sections of your page. The menu is best suited to displaying
          a hierarchy with one to three levels and, as we mentioned, to display
          the sub-navigation of a given page.
        </p>

        <p>
          Read the full documentation on our side navigation on the component
          page.
        </p>
        <a class="usa-button usa-button--big" href="#"> Call to action </a>
      </article>

      <div class="usa-alert usa-alert--success">
        <div class="usa-alert__body">
          <h3 class="usa-alert__heading">Success status</h3>
          <p class="usa-alert__text">
            Lorem ipsum dolor sit amet,
            <a href="#">consectetur adipiscing</a> elit, sed do eiusmod.
          </p>
        </div>
      </div>

      <div class="usa-alert usa-alert--warning">
        <div class="usa-alert__body">
          <h3 class="usa-alert__heading">Warning status</h3>
          <p class="usa-alert__text">
            Lorem ipsum dolor sit amet,
            <a href="#">consectetur adipiscing</a> elit, sed do eiusmod.
          </p>
        </div>
      </div>

      <div class="usa-alert usa-alert--error" role="alert">
        <div class="usa-alert__body">
          <h3 class="usa-alert__heading">Error status</h3>
          <p class="usa-alert__text">
            Lorem ipsum dolor sit amet,
            <a href="#">consectetur adipiscing</a> elit, sed do eiusmod.
          </p>
        </div>
      </div>

      <div class="usa-alert usa-alert--info">
        <div class="usa-alert__body">
          <h3 class="usa-alert__heading">Informative status</h3>
          <p class="usa-alert__text">
            Lorem ipsum dolor sit amet,
            <a href="#">consectetur adipiscing</a> elit, sed do eiusmod.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
